<template>
  <div class="container content">
    <h1 class="text-center mb-3">Guess the story</h1> <!-- todo title depends on type of player-->

    <div id="information"> <!-- todo give only clue if it is a guesser and all info if it is master -->
      <p id="title">The moon</p>
      <p id="clue">Because the moon was at its fullest, Merlos lost their magic map and would never see it again.</p>
      <p id="story">Merlos was camping out on the beach while searching for the goblet of youth. He had been studying
        the map before going to sleep. While he was sleeping, the sea level rose and took away his map forever.</p>
    </div>

    <div class="card">
      <div class="card-header">Chat</div>
      <div class="card-body height3">
        <ul class="chat-list" v-for="message in messages" v-bind:key="message.id">
          <ChatMessage v-bind:in-or-out="message.inOrOut" v-bind:user="message.user" v-bind:message="message.chat">
          </ChatMessage>
<!--          <ChatMessage in-or-out="out" user="Serena" message="Hey"></ChatMessage>-->
        </ul>
        <form v-on:submit.prevent="addChat">
          <label for="chatInput"></label>
            <input type="text" name="chat" class="form-control" id="chatInput" placeholder="type here">
          <input type="submit" hidden>
        </form>
      </div>
    </div>
  </div>
</template>

<script>

import ChatMessage from "@/components/ChatMessage";

export default {
  name: "Game",
  data() {
    return {
      messages: [{inOrOut: 'out', user:'Heidi', chat:'ja/nee'}],
    }
  },
  components: {ChatMessage},
  methods: {
    addChat() {
      let message = {inOrOut:'in', user:'Jos', chat:''}
      message.chat = document.getElementById("chatInput").value;
      this.messages.push(message);
      console.log(this.messages);
      document.getElementById("chatInput").value = "";
    }
  }
}
</script>

<style lang="css" src="../assets/css/game.css"></style>