<template>
  <main class="container-fluid text-center">
    <h1 class="h1 mb-5">Story Time</h1>


    <router-link to="/waitingRoom">
      <button id="startGame" class="btn-primary mr-3">Start Game</button>
    </router-link>
  </main>
</template>

<script>
export default {
name: "Home"
}
</script>

<style scoped>

</style>