<template>
  <main class="container-fluid text-center">
    <h1 class="mt-3 mb-5">Waiting room</h1>
    <p >The game will start when another player joins...</p>
    <p>You are the <b class="font-weight-bold">{{playerTypeName}}</b></p> <!-- todo get type of user from backend-->
  </main>
</template>

<script>
import io from 'socket.io-client';

export default {
  name: "WaitingRoom",
  data() {
        return {
            user: '',
            message: '',
            messages: [],
            playerTypeName: '',
            socket: io('http://localhost:3002')
        }
    },
    methods: {
        sendMessage(e) {
            e.preventDefault();
        }
    },
    created: function (){
      this.socket.on('player-number', playerIndex =>{
        console.log(playerIndex)
        if (playerIndex == -1) {
          this.playerTypeName = 'person waiting for a new game to start.'
        } else if (playerIndex == 0) {
          this.playerTypeName = 'master.'
        } else if (playerIndex == 1) {
          this.playerTypeName = 'guesser.'  
        }
      })

      this.socket.emit('player-ready');
      this.socket.on('check-players', (ready)=>{
        console.log(ready);
      
        window.location.href = 'http://localhost:8080/game'
        
        
      });


    }
}
</script>

<style scoped>

</style>