<template>
  <li v-bind:class="inOrOut">
    <div class="chat-img">
      <img alt="user" src="../assets/media/user.svg">
    </div>
    <div class="chat-body">
      <div class="chat-message">
        <h5>{{user}}</h5>
        <p>{{message}}</p>
      </div>
    </div>
  </li>
</template>

<script>
export default {
  name: "ChatMessage",
  props: {
    inOrOut: String,
    user: String,
    message: String,
  }
}
</script>

<style scoped>

</style>